<div class="row">
  <p id="notice"><%= notice %></p>
</div>

<div class="row">
  <% @pins.each do |pin| %>

    <div class="col">
      <div class="card m-5 border-dark">

        <div class="card-body image-cropper text-center">
          <%= link_to image_tag(pin.image.url(:medium), class: "pin-image"), pin %>
        </div>

        <div class="card-footer bg-dark text-white text-center">
          <%= pin.description %>
        </div>

      </div>
    </div>


  <% end %>
</div>
