<div class="row pt-3">
  <div class="col text-center">
    <h1>About</h1>
  </div>
</div>
<div class="row pt-3">
  <div class="col">
    <p>Hi, I'm Bianca. As a practice project during my time learning Rails at <a href="https://coderacademy.edu.au/">Coder Academy's</a> fast track bootcamp, I built this website. You might notice it bears some similarity to Pinterest, but this one is all about interesting pins... of all kinds!</p>
    <p>You can find more of my work over at <a href="https://github.com/biancapower/">GitHub</a> (although that's probably where you found this in the first place).</p>
  </div>
</div>
